<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>BBC</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/declarations.js' %}" defer></script>
	<script src="{% static 'js/initialisation.js' %}" defer></script>
	<script src="{% static 'js/card.js' %}" defer></script>
	<script src="{% static 'js/points.js' %}" defer></script>
	<script src="{% static 'js/gameplay.js' %}" defer></script>

	<script src="{% static 'jquery/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'jquery/jquery.min.js' %}"></script>
</head>

<body>
<ul class="nav justify-content-center" style="background: #000000; padding: 10px;">
	<li class="nav-item">
		<h3><a class="navbar-brand" href="#" style="color: rgba(255,255,255,0.9);">BlackJack</a></h3>
	</li>
</ul>

{% block base %}


{% endblock %}
</body>


</html>